.linkouter
{
}
.linkhead
{
}
.linkeven
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.linkodd
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.linkfoot
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: slategray 1px solid
}
.sortby
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: silver 1px double;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    WIDTH: 99%;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: silver 2px solid;
    TEXT-ALIGN: right
}
.subcategory
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9pt
}
.itemValuesTable
{
    BORDER-RIGHT: aqua;
    BORDER-TOP: aqua;
    BORDER-LEFT: aqua;
    BORDER-BOTTOM: aqua
}
.itemValuesTd
{
    BORDER-RIGHT: darkseagreen 1px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: darkseagreen 1px solid;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: darkseagreen 1px solid;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: darkseagreen 1px solid;
    HEIGHT: 100%;
    BACKGROUND-COLOR: ivory
}
.itemLabel
{
    FONT-WEIGHT: bolder;
    MARGIN-BOTTOM: 5px
}
.itemValuesTdSection2
{
    PADDING-RIGHT: 10px;
    BORDER-TOP: darkseagreen 1px solid;
    MARGIN-TOP: 10px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: darkseagreen thin solid
}
.itemValueSection2
{
    MARGIN-BOTTOM: 5px
}
.itemDescription
{
}
.itemLogo
{
    WIDTH: 35px;
    TEXT-ALIGN: center
}
.itemTable
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN: 5px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BORDER-COLLAPSE: collapse
}
.itemValuesTableHeaderRow
{
    DISPLAY: table-header-group;
    FONT-WEIGHT: normal
}
.itemTableLevel0
{
}
.itemTableLevel2
{
    BACKGROUND-COLOR: mistyrose
}
.itemTableLevel3
{
    BACKGROUND-COLOR: gold
}
.itemTableLevel1
{
    BACKGROUND-COLOR: seashell
}
.itemTableCell
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #cccccc 1px;
    MARGIN-TOP: 10px;
    PADDING-LEFT: 2px;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #cccccc 1px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px
}
.itemValue
{
}
.itemTitle
{
    PADDING-TOP: 10px;
    BORDER-BOTTOM: navy 1px solid
}
.itemTitleLarge
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
	PADDING-TOP: 10px;
    PADDING-BOTTOM: 3px;
	FONT-WEIGHT: bolder;
    FONT-SIZE: 20pt;
    MARGIN-BOTTOM: 10px;
    WIDTH: 99%;
    COLOR: darkblue;
    BACKGROUND-COLOR: #fffff0;
    BORDER-BOTTOM: #228b22 1px solid;
    BORDER-TOP: #228b22 1px solid;
    FONT-FAMILY: 'Century Gothic', Arial, 'Bradley Hand ITC', Vivaldi, Tahoma, 'Comic Sans MS'
}
.categoryHeader
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: gainsboro;
    TEXT-ALIGN: left
}
.formTitle
{
    FONT-SIZE: 18pt;
    COLOR: midnightblue
}
.categoryTable
{
    BACKGROUND-COLOR: whitesmoke
}
.itemTitle A
{
    COLOR: darkolivegreen
}
.listing_top_left
{
	float:left; width: 50%; padding: 2px; margin-left: -4px; margin-right: -4px; line-height: 37px; display: table-cell;
}
.listing_top_right
{
	float:right; width: 50%; padding: 2px; text-align: right;
}
br.clear {clear: both;}
.head {border: 1px solid grey; padding: 3px; cellspacing: 0px; background-color: #eecfa1}
.even {border: 1px solid grey; cellpadding: 3px; cellspacing: 0px; background-color: #f5f5dc}
.outer {border: 1px solid grey; cellpadding: 3px; cellspacing: 0px}